body{
  padding-top: 60px;
}

.container{
  max-width: 700px;
}

.answer{
  color: orange;
  margin-top: -10px;
  font-size: 24px;
  font-weight: 400;
}

.title{
  font-size: 42px;
}

.code{
  font-family: 'Source Code Pro', monospace;
  background-color: #EEE;
  color: orange;
}

.btn.disabled, .btn.disabled:hover{
  background-color: lightgrey;
}
