body{
  padding-top: 60px;
}

.container{
  max-width: 700px;
}

.navbar .navbar-brand{
  color: orange;
  font-weight: bold;
}

.navbar .navbar-brand .white{
  color: white;
}

.navbar-header{
  display: flex;
  justify-content: flex-start;
}

.navbar-header .function-dropdown{
  position: absolute;
  right: 0;
}

#fx-dropdown{
  color: orange;
  font-size: 14px;
}

.answer{
  color: orange;
}

.code{
  font-family: 'Source Code Pro', monospace;
  background-color: #EEE;
  color: orange;
}

.sidenav{
  margin-top: 25px;
}

@media (max-width: 768px){
  .sidenav{
    display: none;
  }
}

/*calculator*/
.my-calc .row{
  padding-bottom: 5px;
}

.my-calc .display{
  width: 215px;
}

.my-calc button{
  width: 40px;
  height: 40px;
}

.selected{
  border: 3px solid black;
}
