<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 ">
        <a href="https://github.com/Tommy-Lim"><i class="fa fa-github" aria-hidden="true"> </i> Tommy Lim</a>
      </div>
      <div class="col-sm-4 ">
        <a href="https://github.com/tmrdr"><i class="fa fa-github" aria-hidden="true"> </i> Tobias Murphy</a>
      </div>
      <div class="col-sm-4 ">
        <a href="https://github.com/Tommy-Lim/angular-hackathon-practice"><i class="fa fa-github" aria-hidden="true"> </i> GitHub Repo</a>
      </div>
    </div>
  </div>
</div>
