<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref-active="active" ui-sref="homeState()">wolfram|beta</a>
      <div class="function-dropdown">
        <a id="fx-dropdown" class="navbar-brand dropdown-toggle white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i>f(x) </i><span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
          <li ng-repeat="fx in navbarComp.functions.sort()" ui-sref-active="active">
            <a ui-sref="{{fx}}State()">{{fx}}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
